html {
    font-family: 'Helvetica', Arial, sans-serif;
    
}

@font-face {
	font-family: "munchery"; 
	src: url('fonts/munchery.woff') format('woff');	
	font-weight:100; 
	font-style:normal;  
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}